.contact_main{
    margin: 16px auto;
    background: grey;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    padding-top: 2em;
}

.contact_body{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    border: 2px solid red;
    margin-bottom: 20px;
}

.intro{
    margin: auto;
    font-size: 32px;
    font-family: 'Arvo', serif;
}

h2{
   font-family: 'Anton', sans-serif;
}

.contact_body hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contacts{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;

}

.contacts i{
    display: flex;
    flex-direction: row;
    color : rgb(255,64,129);
    font-size: 4em;
    padding: 16px;
}

.contacts {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
}

.text{
    flex-direction: row;
    display: inline;
}

section{
    margin-top: 80px;
}

.icons i{
    float: left
}
.icons p{
    float: right;
    margin: auto;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 24px;
    padding-top: 24px;

}

